{erl_opts, []}.

{deps, [
   {feta, ".*",
      {git, "https://github.com/fogfish/feta", {branch, master}}
   }

  ,{datum, ".*",
      {git, "https://github.com/fogfish/datum", {branch, master}}
   }

  ,{semantic, ".*",
      {git, "https://github.com/fogfish/semantic", {branch, master}}
   }

  ,{uid, ".*",
      {git, "https://github.com/fogfish/uid", {branch, master}}
   }

  ,{hornlog, ".*",
      {git, "https://github.com/fogfish/hornlog", {branch, master}}
   }

  ,{jsx, ".*",
      {git, "https://github.com/talentdeficit/jsx", {branch, master}}
   }

  ,{esio, ".*",
      {git, "https://github.com/fogfish/esio", {branch, master}}
   }
]}.
